@import "./vendor.scss";

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 40vmin;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
